footer
    .container-footer
        .container-footer-inner
            .left-footer
                a(class="anchorNoUnderline footer" href="#") Help
                a(class="anchorNoUnderline footer" href="#") Careers
                a(class="anchorNoUnderline footer" href="#") Privacy
                a(class="anchorNoUnderline footer" href="#") Status
            .mid-footer
                img(class="footer-logo" width="60" height="60" src="/logos/footer-logo.png", alt="")
            .right-footer
                a(class="anchorNoUnderline footer" href="#") Terms
                a(class="anchorNoUnderline footer" href="#") Writers
                a(class="anchorNoUnderline footer" href="#") About
                a(class="anchorNoUnderline footer" href="#") Blog
