extends layout.pug
block content
  html
    head
      link(rel='stylesheet', href='/stylesheets/home.css')
    body
        div.myTopics
            a(id="topics-button" href='/topics') Topics
            each topic in user.likedTopics
                = topic.topic
                = topic.id

        div.following
            a(id="following-button" href='/') Following
            each following in user.followings
                = following.id
                = following.avatarUrl

        div.myStories
            a(id="stories-button" href='/stories') My Stories
            each myStory in myStories
                = myStory.title

        div.myFeed
            a(id="myFeed-button" href='users') My Feed
            each story in feedStories
                = story.User.firstName
                = story.Topic.id
                = story.Topic.topic
                = story.title
                = story.summary
