extends layout.pug
block content
  html
    head
      link(rel='stylesheet', href='/stylesheets/user-profile.css')
    body

        h3 My Topics
        each topic in user.likedTopics
            topic.topic
            topic.id
        div.myTopics

        h5  My Profile
        each following in user.followings
            following.id
            following.avatarUrl
        div.myProfile

        h3 My Stories
        each myStory in myStories
            myStory.title
        div.myStories

        h3 My Feed
        each story in feedStories
                story.User.firstName
                story.Topic.id
                story.Topic.topic
                story.title
                story.summary
        div.myFeed
