extends index.pug

block content
    nav
        div
            a(href="/users" src="") LOGO IMAGE
        if authenticated
            div
                a(href="/users/mystories" src="") BOOKMARK IMAGE
            div
                a(href="/users/logout") Log out
        else
            div
                a(href="") Log in
            div
                a(href="") Get Started
