extends index.pug 
block content
  h1 Welcome Back.
  div
    form(action="/log-in" method='POST')
        p Sign in
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="email") Email
        input(type="email" name="email")
        label(for="password") Password
        input(type="password" name="password" )
        label(for="confirmPassword") Confirm Password
        input(type="password" name="confirmPassword" )
        button(type='submit') Log In
        p No account?
            span: a(href='/sign-up') Create one
