extends layout.pug 
block content 

    div.under-nav 
        div.under-nav-text
            p#intro-p <span id="groovium">Groovium</span> is a place <span id="yellow">write</span>, <span id="red">read</span>, and <span id="green">connect</span>
            p#sub-intro-p It’s easy and free to post your thinking on food, sports, tech, pets and connect with millions of readers.
            a(id="get-groovy-button" href='/sign-up') Get Groovy
        div.under-nav-img
            img(src="./logos/splash-image.png", alt="logo of woman with hippie glasses")