extends layout.pug
block content
  .outer-most-container
    .topics-container
      h2(id="topics-page-title") Topics
      .topic-container
        .topic-image-div
          a(href=`/${topic.id}`)
            img(id="topic-image" src="")
        .topic-title-div
        .topic-summary-div
