extends layout.pug
block content
  .outer-most-container
    .topic-name-and-description-container
      .topic-name-and-follow-button-container
        h2(id="topic-name") !{topic.topic}
      .topic-description-container
      .other-topics-container
    .topic-title-and-image-container
      .topic-title-div
        h3(id="topic-title") !{topic.topic}
      .topic-image-div
        img(id="topic-image" src=topic.imageUrl)
