extends layout.pug
block content
  .outer-most-container
    .left-container
        .avatar
            img(id="user-avatar" src=user.avatarUrl)
        .follow-me
            a(id="get-started-button" class="anchorNoUnderline" href="/sign-up") Follow Me
        .name
            p #{user.firstName} #{user.lastName}
        .bio
            p #{user.shortBio}
        .follows 5
        .topics 6
    .right-container 7
        .user-stories 8
