block content
  html
    head
      link(rel='stylesheet', href='/stylesheets/delete-model.css')
    body
        img(class="form-peace-image" width="162" height="36" src="/logos/peace-sign-logo.png", alt="a sign of peace")

        .are-you-sure
            p= "Are you sure you want to delete"
        div.accept-deletion
        a(class="accept-deletion-button" href="/users") Accept
