
block content
  html
    head
      link(rel='stylesheet', href='/stylesheets/delete-modal.css')
    body

      div.delete-container
        div.delete-content-div
          img(class="form-peace-image" width="162" height="36" src="/logos/peace-sign-logo.png", alt="a sign of peace")

          .delete-text-container
              p Are you sure you want to delete?
              h3= "Lorem ipsum dolor sit amet consectetur adipisicing elite."
              p Pressing accept will delete this story,
              p and all of it's content forever.
              div.accept-button
              a(id="accept-deletion-button" href="/users/my-stories") Accept
              a(id="cancel-deletion-button" href="/users/my-stories") Cancel
