footer
    .container-footer
        .container-footer-inner
            .left-footer
                a(class="anchorNoUnderline footer" href="https://github.com/blwishom") Blair Wishom
                a(class="anchorNoUnderline footer" href="https://github.com/aivnerrad") Darren Bruce Via II
            .mid-footer
                img(class="footer-logo" width="60" height="60" src="/logos/footer-logo.png", alt="")
            .right-footer
                a(class="anchorNoUnderline footer" href="https://github.com/Jguevara1208") Jordan Guevara
                a(class="anchorNoUnderline footer" href="https://github.com/rollingferret") Peter Joh
