
html(lang="en")
    head
    block head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
        link(rel="stylesheet" href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
        style: include ../public/stylesheets/index.css
        style: include ../public/stylesheets/footer.css
        style: include ../public/stylesheets/my-stories.css
        style: include ../public/stylesheets/other-profiles.css
        style: include ../public/stylesheets/splash-page.css
        style: include ../public/stylesheets/topics-list-page.css
        style: include ../public/stylesheets/topic-page.css
        style: include ../public/stylesheets/home.css
        style: include ../public/stylesheets/stories.css
        script: include ../public/javascripts/index.js
        title Groovium
    body
        nav
            div#logoDiv
            if authenticated 
                a(href="/users"): img(src='/logos/logo.png')
            else 
                a(href="/"): img(src='/logos/logo.png')
            if authenticated
                div
                    a(href="/users/my-stories"): img(id="navBM" src="/logos/bookmark_add_black_24dp 7.png")
                    a(class="anchorNoUnderline log" href="/logout") Log out
            else
                div
                    a(class="anchorNoUnderline log" href="/log-in") Log in
                    a(id="get-started-button" class="anchorNoUnderline" href="/sign-up") Get Started
    block content
include footer
