extends layout.pug
block content
  .outer-most-container
    .topics-title-container
      h2(id="topics-page-title") Topics
    .topics-container
      each topic in topics
        .topic-container
          a(id="topic-image" href=`/topics/${topic.id}`)
            .topic-image(style=`background-image: url(${topic.imageUrl})`)
          .topic-title
            p=topic.topic
            .add-topic-button
              i(class="far fa-plus-circle")
          .topic-description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
