

.user-profile-container {
    display: flex;
    justify-content: center;
}

.user-profile-wrapper  {
    display: flex;
    justify-content: center;
    width: 100%;
}

.user-profile-left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, .25);
}

.user-profile-left {
    width: 70%;
    display: flex;
    align-items: flex-start;
}

.user-profile-avatar-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.user-profile-avatar-img {
    width: 120px;
    height: 110px;
    background-size: cover;
    background-position: top;
    border-radius: 15px;
}

.user-profile-header-text-left {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    word-break: normal;
    font-weight: 300;
    color: rgba(0,0,0,.45);
    width: 33%;
}

.user-profile-header-left {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.25);
    padding: 30px 0px;
}

.user-profile-empty-right {
    width: 33%;
}

.user-profile-right{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

.my-stories-stories-div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin: 80px 0px;
}

.user-profile-header-text-right {
    word-break: normal;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 30%;
    width: 60%;
    border-bottom: 1px solid rgba(0,0,0,.25);
    color: rgba(0,0,0,.45);
}
.user-profile-right-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-header-right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    padding: 93px 0px;
}

.user-profile-header-text-right > p {
    margin-bottom: 40px;
    font-weight: 300;
}

.my-stories-bookmark-div {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 40px;
}

.bookmark-container {
    display: flex;
    justify-content: center;
    width: 70%;
    padding: 10px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.bookmark-container-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bookmark-story-img {
    height: 90px;
    width: 90px;
    background-size: cover;
    background-position: center;
}

.bookmark-summary > p {
    font-size: 12px;
    margin: 5px
}

.bookmark-title > a > h3 {
    font-size: 15px;
    margin: 5px;
}

.bookmark-container-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-edit {
    color: FBD266; 
    font-size: 22px;
    margin-right: 10px;
}


.bookmark-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-ban {
    color: D76735;
    font-size: 18px;
    transform: translateX(30px);
    cursor: pointer;
} 

.box {
    width: 200px;
    overflow: hidden;
    color: black;
    padding: 30px;
    background-color: FCFCFC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    position: absolute;
    z-index: 9999;
    text-align: center;
    display: none;
    transform: translate(-43px, -100px);
    font-size: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close {
    cursor: pointer;
}

.delete-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 30px;
    background-color: D76735; 
    border-radius: 15px;
    color: white;
}

.modal-button-holder {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    transform: translateX(-12px);
}

.user-profile-content-left {
    width: 80%;
}

.right-story-bookmark-info {
    margin-right: 20px;
}

@media screen and (max-width: 1223px) {
    .left-story-info {
        display: none !important;
    }
}

@media screen and (max-width: 831px){
    .story-container-right {
        display: none !important;
    }

    .myStory-container-right {
        display: none !important;
    }

    .fa-ban {
        transform: translateX(5px)
    }

    .user-profile-header-left {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

@media screen and (max-width: 1090px) {
    .bookmark-container-right {
        display: none !important;
    }

}

.user-home-right {
    width: 90%
}