.slide-container {
    background-color: FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(143, 176, 169, .17);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    margin-bottom: 90px;
}

.carousel {
    --current-slide: 0;
    width: 70%;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.carousel-button-left {
    color: #8FB0A9;
    font-size: 3rem;
    padding: 0;
    margin: 0.5rem;
    cursor: pointer;
    z-index: 1;
    transition: color 0.4s;
}

.carousel-button:hover {
    color: #FBD266;
}

.carousel-button-right {
    color: #8FB0A9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    padding: 0;
    margin: 0.5rem;
    cursor: pointer;
    z-index: 1;
    transition: color 0.4s;
}

.carousel-button_next:hover {
    color: #FBD266;
}

.slides {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    left: -100%;
    transition: transform 1.2s;
    transform: translateX(calc(-100% * var(--current-slide)));

}

.slide {
    flex: 0 0 50%;
    height: 100%;
    width: 100%;
    min-width: 525px;
}

.slide-border {
    display: flex;
    flex-direction: column;
    width: calc(100% -50px);
    margin: 20px;
    border-radius: 15px;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}



@media screen and (min-width: 1100px) {
    .slider-opacity {
        display: block;
 }
}

.slide-user-name {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, .45);
}

.slide-splash-avatar-img {
    height:50px;
    width:50px;
    border-radius: 15px;
    border-right: 20px;
    background-position: top;
    background-size: cover;
}

.slide-splash-story-img {
    margin-top: 20px;
    height: 80px;
    width: 100%;
    background-size: cover;
    background-position: 85% 40%;
}

.slide-top-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;

}

.slide-story {
    width: 75%;
    margin-left: 73px;
    margin-right: 20px;
    margin-top: 10px;
}

.slide-box-left {
    width: 75%;
}

.slide-box-right {
    width: 75%;
}

.slide-avatar-box {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: flex-start;
}

.slide-story-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.45)
}

.slide-story-title-format {
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    text-align: left;
}

.slide-story-title-format > p {
    margin: 10px 0px 0px 0px;
}

.slide-splash-story-topic {
    text-decoration: none;
    background-color: rgba(242, 216, 197, .5);
    width:85px;
    border-radius: 15px;
    height: 25px;
    color: rgba(0, 0, 0, .45);
    align-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide-story-box {
    width: 100%;
}

.slidebotdiv {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
}

.slide-story-summary {
    font-size: 14px;
}

.slide-story-bottom {
    width: 80%
}

.slide-story-title {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}