.outer-most-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topics-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.topics-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.topic-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  border: .5px solid rgba(0,0,0,0.25);
  margin: 20px;
}


.topic-list-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topic-image{
  height:40px;
  width:100%;
  background-position: center;
  background-size: cover;
}


.food-topic-image-div {

}

#topic-image {
  width:100%;
}

.food-topic-title-div {

}

#food-topic-title {

}

.add-topic-button-div {  /* <--- ALL FOLLOW TOPIC BUTTONS */

}

.food-topic-summary-div {

}

.pets-topic-container {

}

.pets-topic-image-div {

}

#pets-topic-title {

}

.pets-topic-summary-div {

}

.sports-topic-container {

}

.sports-topic-image-div {

}

.sports-topic-title-div {

}

#sports-topic-title {

}

.sports-topic-summary-div {

}

.tech-topics-container {

}

.tech-topic-image-div {

}

.tech-topic-title-div {

}

#tech-topic-title {

}

.tech-topic-summary {

}
