.topic-outer-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.topic-page-outer-most-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.topic-left-side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;

  border-right:1px solid rgba(0, 0, 0, 0.25);
}

.topic-main-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.topic-name-and-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
  width: 80%;
}

.topic-name-and-follow-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topic-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 90px;
  height: 20px;
  padding: 10px 27px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}


.topic-description-container {
  text-align: center;
  width: 80%;
}
.story-summary-container{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  letter-spacing: 0.06em;
  color: rgba(0, 0, 0, 0.46);
}

.topic-story-summary {
  width: 90%;
}

.topic-story-summary > p {
  margin: 5px;
}

.story-footnotes{
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.25);
}

.topic-title-and-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:90%;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.topic-image-container {
  height: 125px;
  width: 95%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.topic-stories-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-bottom: 10px;
}

.topic-stories-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.topic-followers-and-other-topics {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
}

.topic-followers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.topic-story-container {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 827px;
  padding: 20px 10px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 5%);
  margin-top: 5px;
}
.story-summary-container {
  width: 60%;
  line-height: normal;
}

.story-image {
  width: 220px;
  height: 220px;
  border: 0.5px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 15px;
  margin: 5px;
  background-position: center;
}
#story-title {
  width: 60%;
  height: 10%;
}

.topic-story-icons-container {
  display: flex;
  justify-content: space-between;
  width: 10%;
}
#topic-story-thumb {
  font-size: 18px;
  color: FBD266;
}

#topic-story-bookmark {
  font-size: 18px;
}

#topic-story-info {
  align-items: center;
}

.other-profiles-topic-container {
  margin-top: 50px;
}

#all-topics {
  color: rgba(0, 0, 0, 0.46)
}

