body {
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: 8FB0A9;
    padding: 20px;
    width: 100%;
    height: 91px;
    align-items: center;
}

.anchorNoUnderline { 
    text-decoration: none;
}

.log {
    color: white;
    margin-left: 30px;
}

#get-started-button {
    color: white;
    background-color: D76735;
    width: 90px;
    height: 30px;
    padding: 10px 27px;
    border-radius: 20px;
    border: none;
    margin-left: 20px;
}

.form-container-outer {
    display: flex;
    height: 100%;
    width: 100%;
}

.form-page-side-divs {
    display: flex;
    justify-content: center;
    width: 25%;
    height: 100%;
    background-color: 8FB0A9;
}

#form-logo {
    margin-top: 30px;
    margin-right: 15px;
}

.form-container-inner-sign-up {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.form-container-inner-log-in{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}

.form-container-center {
    width: 100%;

}

.form-page-center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: FCFCFC;
}

.form-peace-image {
    margin-top: 80px;
}

.form-input-div {
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
    text-align: center;
}

.form-wrapper {
    margin-top: 35px;
    width: 40%;
}

input {
    margin-top: 10px;
    height: 30px;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

textarea {
    resize: none;
}

.form-submit-button {
    background-color: #FBD266;
    width: 100px;
    height: 35px;
    padding: 10px 27px;
    border-radius: 20px;
    border: none;
    font-size: 12.5px;
}

.form-input-button-div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

form > .form-input-div > p {
    color: rgb(164, 164, 164);
    font-size: 15px;
}

.form-change-anchor { 
    color: #D76735;
    font-weight: bold;
    margin-left: 5px;
}

.form-text-area {
    width: 100%;
    height: 70px;
    border: none;
    border-bottom: 1px solid black;
}