.topic-page-outer-most-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
}

.topic-left-side-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 15%;
  margin: 30px;
}

.topic-main-content-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 75%;
  margin: 30px;
}

.topic-name-and-description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  margin: 30px;
}

.topic-name-and-follow-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#add-topic {
  color: white;
  background-color: D76735;
  width: 113px;
  height: 30px;
  padding: 10px 27px;
  border-radius: 20px;
  border: none;
  text-align: center;
}



.topic-description-container {
  text-align: center;
  border-top: 0.3px solid #000000;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.06em;
  color: rgba(0, 0, 0, 0.46);

}
.story-summary-container{
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.06em;
  color: rgba(0, 0, 0, 0.46);
}

.story-footnotes{
  border-bottom: 0.3px solid #000000;
}
.topic-title-and-image-container {
  width: 80%;
  height: 60%;
  text-align: center;
  border-bottom: 0.3px solid #000000;
}

.topic-image-container {
  height: 125px;
  background-size: 790px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 40px;
}

.topic-followers-container {
  height: 10%;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}

#follower-image{
  width: 80px;
  height: 80px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 15px;
  margin: 5px;
}

.topic-stories-list-container {

}

.topic-followers-and-other-topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.topic-followers-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.topic-story-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.story-summary-container {
  width: 60%;
  line-height: normal;
}

.story-image {
  width: 220px;
  height: 220px;
  border: 0.5px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 15px;
  margin: 5px;
  background-position: center;
}
#story-title {
  width: 60%;
  height: 10%;
}
