.form-page-left-div {
    background-color: cadetblue;
    color: darkgray;
    padding: 40px;
    margin-left: 150px;
}

.topics {
    padding: 20px;
}

#topics-text {
    padding: 20px;
}

.form-page-right-div {
    color: darkgray;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 40px;
    margin-right: 150px;
   }

#profile-picture {
   padding-bottom: 95px;
}


.form-page-middle-div {
       color: darkgray;
       display: flex;
       flex-direction: column;
       align-items: center;
   }

#feed-story {
    line-height: 40px;
}
